<div class="container">
    <div class="row">
        <div ng-repeat="campu in campus | limitTo: items.length /2: 0">
            <div class="col-md-6">
                <div class="containerCampus">
                    <h3>Campus de {{::campu.nombre}} </h3>
                </div>
                <div ng-repeat="grado in grados">
                    <div ng-if="(campu.grados_id).indexOf(grado._id) !== -1">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a ui-sref="grados({_id:grado._id})">{{::grado.nombre}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
